$markdown-border: #CBCBCB;
.toolbar {
  padding: 5px 5px;
  background-color: #fff;
  .toolbar-item {

  }
  border-left: 1px solid $markdown-border;
  border-bottom: 1px solid $markdown-border;
  border-right: 1px solid $markdown-border;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  .round {
    border-radius: 45px;
  }
}

.emoji {
  height: 1.5em;
}

img.emoji {
  width: 1.5em !important;
  height: 1.5em !important;
}

.markdown-editor {
  resize: none;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.media-preview {

}

.markdown-content-view {
  border: 1px solid $markdown-border;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #fff;
  padding: 6px 12px;
}