$markdown-border: #CBCBCB;
.markdown-container {
  background-color: #ffffff;
  padding: 5px 5px;
  border-radius: 5px;
  //box-shadow: 0px 1px 7px 1px #0000004d;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.toolbar {
  padding: 5px 5px;
  background-color: #fff;
  .toolbar-item {
    padding: 5px 10px;
    background: #f6f7f9;
    border-radius: 18px;
    cursor: pointer;
    margin: 0 !important;
  }
}

.emoji {
  height: 1.5em;
}

img.emoji {
  width: 1.5em !important;
  height: 1.5em !important;
}

.media-preview {
  .action-container {
    margin-bottom: -15px;
    .delete {
      padding: 2px;
      background-color: #fff;
      border-radius: 18px;
      @extend .normal-shadow;
      border: 1px solid $markdown-border;
    }
    .delete:hover {
      transform: scale(1.2);
    }
  }
}

.markdown-content-view {
  padding: 6px 12px;
  min-height: 200px;
  max-height: 500px;
  overflow-y: auto;
}

.markdown-editor {
  min-height: 200px;
  max-height: 500px;
  overflow-y: auto;
  resize: none;
  border: 0 !important;
}

.canvas {
  @extend .normal-shadow;
  background-color: #f3f3f3;
  border: 1px solid #c3c3c3;
  height: 60px;
  margin: 6px 0 0 6px;
  :hover {
    height: 100px;
  }
}

#uploadFile {
  height: 0 !important;
  position: absolute;
  display: none;
}

.normal-shadow {
  //box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.25);
}