$markdown-border: #CBCBCB;
.toolbar {
  padding: 5px 5px;
  .toolbar-item {

  }
  border-left: 1px solid $markdown-border;
  border-bottom: 1px solid $markdown-border;
  border-right: 1px solid $markdown-border;
}

.emoji {
  height: 1.5em;
}

img.emoji {
  width: 1.5em !important;
  height: 1.5em !important;
}

.markdown-content {
  resize: none;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}