<div class="markdown-container">
    <!--EDITOR-->
    {{content}}
    <div click-outside="onClickOutsideEditor()" outside-if-not="markdown-viewer" ng-show="isEditMode">
        <textarea ng-model="content"
                  id="markdown-editor"
                  rows="10"
                  autofocus
                  ng-mousedown="onMouseDownEditor()"
                  class="markdown-editor form-control">
        </textarea>
    </div>

    <!--VIEW MODE-->
    <div ng-if="!isEditMode" id="markdown-viewer">
        <div markdown-it="content"
             class="markdown-content-view"
             ng-mousedown="onMouseDownEditorView($event)">
        </div>
    </div>

    <!--EMOJI PICKER-->
    <div class="bd-emoji-picker-container">
        <input type="text" bd-emoji-picker emoji-options="emojiEditorOptions">
    </div>


    <!--MEDIA-->
    <div class="media-preview" ng-if="isShowMediaPreview()">
        <div ng-repeat="item in photos track by $index" style="display: inline-block">
            <!--action-->
            <div class="action-container">
                <span ng-click="removePhoto($index)" class="glyphicon glyphicon-remove delete"></span>
            </div>

            <!--thumbnail-->
            <img class="canvas" ng-src="{{item}}" height="100"/>
        </div>
        <span></span>
    </div>

    <!--TOOLBAR-->
    <div class="toolbar">
        <!--PHOTO-->
        <label for="uploadFile" class="toolbar-item">
            <i class="fa fa-image text-success"></i> Anh
        </label>

        <label class="toolbar-item" ng-click="onClickVideo()">
            <i class="fa fa-map-marker text-danger"></i> Ban do
        </label>
    </div>
</div>
<input id="uploadFile" type="file" nv-file-select="" uploader="uploader" multiple/><br/>

</div>

<div id="standalone"></div>
<style>
    .emojionearea.emojionearea-standalone .emojionearea-button > div {
        right: 0 !important;
        top: 0 !important;
    }

    .emojionearea-button {
        position: relative;
    }

    .emojionearea-editor {
        display: none !important;
    }

    .emojionearea-standalone {
        border: 0 !important;
        width: 26px !important;
        height: 26px !important;
        background-color: transparent !important;
    }

    .emojionearea .emojionearea-button.active + .emojionearea-picker-position-bottom {
        margin-top: -20px !important;
        right: -5px !important;
    }
</style>