<div class="markdown-container">
    {{isEditMode}}
    <!--EDITOR-->
    <textarea ng-show="isEditMode" click-outside="onClickOutsideEditor()" outside-if-not="emojionearea-picker"
              ng-model="content"
              id="markdown-editor"
              rows="10"
              autofocus
              click-outside="onClickOutsideEditor()"
              class="markdown-editor form-control">
    </textarea>
    <!--VIEW MODE-->
    <!--ng-show="!isEditMode"-->
    <div id="markdown-viewer" markdown-it="content" ng-show="!isEditMode"
         class="markdown-content-view"
         ng-mousedown="onMouseDownEditorView()">
    </div>

    <!--MEDIA-->
    <div class="media-preview" ng-if="isShowMediaPreview()">
        <div ng-repeat="item in photos track by $index" style="display: inline-block">
            <!--action-->
            <div class="action-container">
                <span ng-click="removePhoto($index)" class="glyphicon glyphicon-remove delete"></span>
            </div>

            <!--thumbnail-->
            <img class="canvas" ng-src="{{item}}" height="100"/>
        </div>
        <span></span>
    </div>

    <!--TOOLBAR-->
    <div class="toolbar">
        <!--PHOTO-->
        <label for="uploadFile" class="toolbar-item">
            <i class="fa fa-image text-success"></i> Anh
        </label>

        <label class="toolbar-item" ng-click="onClickVideo()">
            <i class="fa fa-map-marker text-danger"></i> Ban do
        </label>
    </div>
</div>
<input id="uploadFile" type="file" nv-file-select="" uploader="uploader" multiple/><br/>

<textarea id="example1"></textarea>
<script type="text/javascript">
    $(document).ready(function () {
        $("#markdown-editor").emojioneArea({
            useInternalCDN: true,
            buttonTitle: "Use the TAB key to insert emoji faster",
            recentEmojis: false,
            pickerPosition: "bottom",
            shortnames: true,
            saveEmojisAs: 'shortname',
            tones: false,
            autocomplete: false,
            search: false

        });
    });
</script>